<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Sentiment Analysis
            </div>
        </header>

        <main>
            <section >
                <form class="" id="userinput">
                    <label for="url">URL:</label><br>
                    <input id="url" type="text" name="input" value="" placeholder="Enter URL">
                    <input id="submit" type="submit" name="" value="submit">
                </form>
            <section>

            <section id="analysisoutput">
                <h2>Results of sentiment analysis:</h2>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Udacity Front-end Developer Nano-degree 2022</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>

</html>
