<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Sentiment Analysis
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="Enter valid URL" placeholder="Name">
                    <input id="submit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Results of sentiment analysis:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Udacity Front-end Developer Nano-degree 2022</p>
        </footer>
        <script src="main.js"></script>
    </body>

</html>
