body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    //background-image: url("../img/alexei-scutari-aaVuGlcWlYs-unsplash.jpg");
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h2 {
    font-size: 2em;
}