form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  line-height: 16px;
  margin: 10px 0;
  &#url {
    width: 90%;
    color: darkgray;
  }
  &#submit {
    width: auto;
  }
}
